<%= form_with(model: wedding) do |form| %>
  <% if wedding.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(wedding.errors.count, "error") %> prohibited this wedding from being saved:</h2>

      <ul>
        <% wedding.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.text_field :user_id %>
  </div>

  <div>
    <%= form.label :mobile, style: "display: block" %>
    <%= form.text_field :mobile %>
  </div>

  <div>
    <%= form.label :proposed_wedding_date, style: "display: block" %>
    <%= form.datetime_field :proposed_wedding_date %>
  </div>

  <div>
    <%= form.label :actual_wedding_date, style: "display: block" %>
    <%= form.datetime_field :actual_wedding_date %>
  </div>

  <div>
    <%= form.label :prenuptual_appointment, style: "display: block" %>
    <%= form.datetime_field :prenuptual_appointment %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
