<div id="<%= dom_id wedding %>">
  <p>
    <strong>User:</strong>
    <%= wedding.user_id %>
  </p>

  <p>
    <strong>Mobile:</strong>
    <%= wedding.mobile %>
  </p>

  <p>
    <strong>Proposed wedding date:</strong>
    <%= wedding.proposed_wedding_date %>
  </p>

  <p>
    <strong>Actual wedding date:</strong>
    <%= wedding.actual_wedding_date %>
  </p>

  <p>
    <strong>Prenuptual appointment:</strong>
    <%= wedding.prenuptual_appointment %>
  </p>

</div>
