<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="church.css"/>
    <title>Church Explorer</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "church", "data-turbo-track": "reload" %>
  </head>

  <body>
  <% if notice %>
    <p class="notice alert-warning"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>
  <div class="container justify-content-center align-items-center">
      <div class="row">
        <div class="col-md-12">
          <h1 class="display-1 text-light text-center" style="text-shadow:2px 2px grey">Explorer Church<br></h1>
        </div>
      </div>
      <div class="row align-items-center justify-content-center">
        <div class="col-md-12">
          <ul class="nav align-items-center justify-content-center" style="font-size: 24px">
            <li class="nav-item active">
              <a href="<%= url_for controller: :home,action: :index %>" class="nav-link active">Home<br></a>
            </li>
            <li class="nav-item">
              <a href="<%= url_for  controller: :home, action: :about %>" class="nav-link active">About Us<br></a>
            </li>
            <li class="nav-item">
              <a href="<%= url_for  controller: :home, action: :services %>" class="nav-link active">Services<br></a>
            </li>
            <li class="nav-item">
              <a href="<%= url_for new_registration_path :user %>" class="nav-link active">Weddings<br></a>
            </li>
            <% if current_user %>
            <li class="nav-item">
              <a href="<%= url_for new_user_session_path %>" class="nav-link active">Log In<br></a>
            </li>
            <% else %>
            <li class="nav-item">
              <a href="<%= url_for destroy_user_session_path %>" class="nav-link active">Log out</a>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <%= yield %>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous" style=""></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
