<div id="<%= dom_id member %>">
  <p>
    <strong>User:</strong>
    <%= member.user_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= member.name %>
  </p>

  <p>
    <strong>Address1:</strong>
    <%= member.address1 %>
  </p>

  <p>
    <strong>Address2:</strong>
    <%= member.address2 %>
  </p>

  <p>
    <strong>Address3:</strong>
    <%= member.address3 %>
  </p>

  <p>
    <strong>City:</strong>
    <%= member.city %>
  </p>

  <p>
    <strong>Postcode:</strong>
    <%= member.postcode %>
  </p>

  <p>
    <strong>Mobile:</strong>
    <%= member.mobile %>
  </p>

  <p>
    <strong>Home phone:</strong>
    <%= member.home_phone %>
  </p>

  <p>
    <strong>Work phone:</strong>
    <%= member.work_phone %>
  </p>

</div>
